@if (Session["Email"] == null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Register", "Register", "Account", null, null)
        </li>
        <li>
            @Html.ActionLink("Login", "Register", "Account", null, null)
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">

        <li class="invisible"><a href="" class="kullanici-id">@Session["UserId"]</a></li>
        <li>
            <p class="text-white">Merhaba <b> @Session["Email"]</b></p>
        </li>
        <li>
            <a href="/Account/Logout" class="btn btn-dark" style="margin-left:68px">Çıkış Yap</a>
        </li>
    </ul>
}